* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #f1f5f8;
  color: #222;
}

.movielist {
  width: 50vw;
  max-width: 1170px;
  margin: 5rem;
  display: grid;
  gap: 2rem;
}

@media screen and (min-width:768px) {
  .movielist {
    grid-template-columns: repeat(5, 1fr);
  }
}

.movie {
  background-color: #fff;
  border-radius: 1rem;
  padding: 1rem 2rem;
  text-align: center;
}

.movie h1 {
  margin-top: 0.5rem;
}

.movie h4 {
  color: #617d98;
  font-size: 0.75rem;
  margin-top: 0.25rem;
}

.movie p {
  margin-top: 0.5rem;
}

.movie img {
  border-radius: 1rem;
}